@import '~bulma/bulma.sass';

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

nav {
    padding: 0.5em 1em;
    .logo {
        margin: auto auto;
        font-family: 'Fira Sans', sans-serif;
        font-size: 25px;
        font-weight: 700;
    }
}

.nft_card {
    width: 300px;
    margin: 15px;
    cursor: pointer;
    img {
        object-fit: cover;
    }
}

.metamask_button {
    background-color: #EFC9A7;
    &:active {
        background-color: #F4A153;
    }
    span {
        margin-left: 10px;
    }
    img {
        width: 30px;
    }
}
