body{
    background-color: #1E1E1E;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200px;
}
.sign-in{
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 20vh;
    font-size: 30px;
    
}
.sign-in button{
    display: flex;
    align-items: left;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 1vw;
    border-radius: 15px;
    font-size: 20px;
    background-color: black;
    color: white;
    border-color: grey;
    max-height: 80px;
    vertical-align: center;
}

.sign-in button:hover{
    background-color: #9884b8;
}
.sign-in img{
    max-height: 35px;
    text-align: center;
    margin-right: 25pt;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.nftdisplay{
    display: flex;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
}
.nftdisplay img{
    height: 30vh;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.nftdisplay button{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 1vw;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    border-color: grey;
    max-height: 80px;
    vertical-align: center;
}
.available{
    background-color: #9884b8;
}
.unavailable{
    background-color: black;
}
.imageSide{
    width:50%;
    padding: 2%;
    margin-top: auto;
    margin-bottom: auto;
}
.infoSide{
    width: 50%;
    padding: 5vw;
}
.infoSide input{
    width: 100%;
    height: 10%;
    font-size: large;
}
.clear{
    clear: both;
}
.nftName{
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
}
.subtle{
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.footer{
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    background-color: black;
    text-align: center;
}